@import './common.scss';

// 通用样式类
.page-container {
  min-height: 100vh;
  background-color: $bg-color;
}

.section {
  margin: $spacing-base 0;
  background: $bg-color-white;
  border-radius: $border-radius-base;
  overflow: hidden;
  
  &.no-margin {
    margin: 0;
  }
}

.card {
  background: $bg-color-white;
  border-radius: $border-radius-base;
  padding: $spacing-base;
  box-shadow: $box-shadow-light;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-multi-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  &.line-2 {
    -webkit-line-clamp: 2;
  }
  
  &.line-3 {
    -webkit-line-clamp: 3;
  }
}

// 边距工具类
.mt-10 { margin-top: 10rpx; }
.mt-20 { margin-top: 20rpx; }
.mt-30 { margin-top: 30rpx; }
.mb-10 { margin-bottom: 10rpx; }
.mb-20 { margin-bottom: 20rpx; }
.mb-30 { margin-bottom: 30rpx; }
.ml-10 { margin-left: 10rpx; }
.ml-20 { margin-left: 20rpx; }
.ml-30 { margin-left: 30rpx; }
.mr-10 { margin-right: 10rpx; }
.mr-20 { margin-right: 20rpx; }
.mr-30 { margin-right: 30rpx; }

.pt-10 { padding-top: 10rpx; }
.pt-20 { padding-top: 20rpx; }
.pt-30 { padding-top: 30rpx; }
.pb-10 { padding-bottom: 10rpx; }
.pb-20 { padding-bottom: 20rpx; }
.pb-30 { padding-bottom: 30rpx; }
.pl-10 { padding-left: 10rpx; }
.pl-20 { padding-left: 20rpx; }
.pl-30 { padding-left: 30rpx; }
.pr-10 { padding-right: 10rpx; }
.pr-20 { padding-right: 20rpx; }
.pr-30 { padding-right: 30rpx; }

// 字体大小工具类
.fs-20 { font-size: 20rpx; }
.fs-24 { font-size: 24rpx; }
.fs-28 { font-size: 28rpx; }
.fs-32 { font-size: 32rpx; }
.fs-36 { font-size: 36rpx; }
.fs-40 { font-size: 40rpx; }

// 颜色工具类
.text-primary { color: $primary-color; }
.text-success { color: $success-color; }
.text-warning { color: $warning-color; }
.text-danger { color: $danger-color; }
.text-info { color: $info-color; }
.text-muted { color: $text-color-light; }

.bg-primary { background-color: $primary-color; }
.bg-success { background-color: $success-color; }
.bg-warning { background-color: $warning-color; }
.bg-danger { background-color: $danger-color; }
.bg-info { background-color: $info-color; }

// 按钮样式
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30rpx;
  height: 70rpx;
  border-radius: $border-radius-base;
  font-size: $font-size-base;
  border: none;
  outline: none;
  
  &:active {
    opacity: 0.8;
  }
  
  &.btn-primary {
    background: $primary-color;
    color: #fff;
  }
  
  &.btn-success {
    background: $success-color;
    color: #fff;
  }
  
  &.btn-warning {
    background: $warning-color;
    color: #fff;
  }
  
  &.btn-danger {
    background: $danger-color;
    color: #fff;
  }
  
  &.btn-info {
    background: $info-color;
    color: #fff;
  }
  
  &.btn-default {
    background: $bg-color-white;
    color: $text-color-regular;
    border: 1rpx solid $border-color-base;
  }
  
  &.btn-disabled {
    background: $border-color-light;
    color: $text-color-placeholder;
    cursor: not-allowed;
    
    &:active {
      opacity: 1;
    }
  }
  
  &.btn-large {
    height: 90rpx;
    font-size: $font-size-medium;
  }
  
  &.btn-small {
    height: 60rpx;
    font-size: $font-size-small;
    padding: 0 20rpx;
  }
  
  &.btn-round {
    border-radius: 35rpx;
  }
  
  &.btn-block {
    width: 100%;
  }
}

// 标签样式
.tag {
  display: inline-flex;
  align-items: center;
  padding: 6rpx 12rpx;
  border-radius: $border-radius-small;
  font-size: $font-size-extra-small;
  
  &.tag-primary {
    background: lighten($primary-color, 40%);
    color: $primary-color;
  }
  
  &.tag-success {
    background: lighten($success-color, 40%);
    color: $success-color;
  }
  
  &.tag-warning {
    background: lighten($warning-color, 40%);
    color: $warning-color;
  }
  
  &.tag-danger {
    background: lighten($danger-color, 40%);
    color: $danger-color;
  }
  
  &.tag-info {
    background: lighten($info-color, 40%);
    color: $info-color;
  }
}